/.phpunit.cache
/database/database.sqlite
/node_modules
/public/build
/public/build/*
/public/hot
/public/js
/public/css
/public/media
/public/mix-manifest.json
/public/storage
/public/sitemap.xml
/storage/*.key
/vendor

.env
.env.*
/.idea
/.vscode

/storage/logs/laravel.log

/phpstorm.config.js
index.html

# Backups
backup.zip
*.zip
